body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin: 0;
}
#principal{
    max-width: 1024px;
    margin: auto;
}
.hero{
    background-image: url(../img/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border: 1px solid transparent; 
}
.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}
.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333; 
}
.hero-content h2{
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}
.hero nav ul{
    text-align: right;
    margin: 20px 30px 0 0;
}
.hero nav li{
    list-style: none;
    display: inline-block;
    border: 1px solid white;
    margin-left: 10px;
}
.hero nav a{
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #000000;
    background-color: rgba(0,0,0,0.1);
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
.hero nav a:hover{
    background-color: rgba(0,0,0,0.5);
}
.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;    
    overflow: auto;
}
.card{
    float: left;
    width: 32%;
    box-sizing: border-box;
}
.card-1, .card-2{
    margin-right: 2%;
}
.card img{
    width: 100%;
    display: block;
}
.card p{
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin: 0;
    padding: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}
footer{
    height: 80px;
    text-align: center;
    background-color: rgb(119, 119, 119);
    line-height: 80px;
}
footer p{
    font-size: 14px;
    color: white;
    margin-top: 2px;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px black; 
}
.titulo{
    background-color: #e9e7e7;
    box-shadow: 0 2px 0 rgb(155, 155, 155);;
}
.titulo h2{
    padding: 5px;
    margin-top: 1px;
}

